<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>一个矛盾体。</p>
        <p>一个码农。</p>
        <p>一个人。</p>
        <p>有点固执。</p>
        <p>有点坚持。</p>
        <p>码农是我的职业，生活需要精彩。 人生有码，混混生活。</p>
        <p>一辈子很短，先让自己爽。</p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

       <h2>
         Donate
       </h2>

       <p>
         如果我的文章帮助了你，可以留言鼓励一下
       </p>


        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>
